@font-face {
  font-family: "Outfit Regular";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit SemiBold";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Outfit Bold";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Young Regular";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}

:root {
  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Spacing (Padding and Margin) */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 3rem; /* 48px */

  /* Border Radius */
  --border-radius-xs: 0.125rem; /* 2px */
  --border-radius-sm: 0.25rem; /* 4px */
  --border-radius-md: 0.5rem; /* 8px */
  --border-radius-lg: 1rem; /* 16px */
  --border-radius-xl: 1.5rem; /* 24px */
  --border-radius-full: 50%; /* rounded full */

  /* Typography */
  --outfit-regular: "Outfit Regular";
  --outfit-semibold: "Outfit SemiBold";
  --outfit-bold: "Outfit Bold";

  --young-regular: "Young Regular";

  /* Color */
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);

  /* Component */
  --background: var(--stone-100);
  --card: var(--white);
  --card-foreground: var(--stone-900);
  --card-muted: var(--stone-600);
}

.font-outfit-regular {
  font-family: var(--outfit-regular);
  font-weight: 400;
  line-height: 1.4;
}

.font-outfit-semibold {
  font-family: var(--outfit-semibold);
  font-weight: 600;
  line-height: 1.4;
}

.font-outfit-bold {
  font-family: var(--outfit-bold);
  font-weight: 700;
  line-height: 1.4;
}

.font-young-regular {
  font-family: var(--young-regular);
  font-weight: 400;
  line-height: 1;
}

.bg-rose-50 {
  background-color: var(--rose-50);
}

.rose-800 {
  color: var(--rose-800);
}

.stone-600 {
  color: var(--stone-600);
}

.brown-800 {
  color: var(--brown-800);
}

/* Component class */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background);
}

.container {
  max-inline-size: 1440px;
  min-block-size: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.card {
  background-color: var(--card);
  border-radius: var(--border-radius-lg);
  max-inline-size: 38rem;
  padding: var(--spacing-xl);
  margin-block: var(--spacing-md);
}

header {
  margin-block-end: var(--spacing-lg);
}

header img {
  max-inline-size: 100%;
  max-block-size: 100%;
  object-fit: contain;
  border-radius: var(--border-radius-md);
  margin-block-end: var(--spacing-xl);
}

header h1 {
  color: var(--card-foreground);
  font-size: var(--font-size-xxl);
  margin-block-end: var(--spacing-lg);
}

header p {
  color: var(--card-muted);
  font-size: var(--font-size-sm);
}

main .preparation-section {
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  margin-block-end: var(--spacing-xl);
}

main .main-section:not(:last-child) {
  padding-block-end: var(--spacing-lg);
  margin-block-end: var(--spacing-lg);
  border-block-end: 1px solid var(--stone-150);
}

main .preparation-section h2,
main .main-section h2 {
  margin-block-end: var(--spacing-md);
}

main .preparation-section h2 {
  font-size: var(--font-size-base);
}

main .main-section h2 {
  font-size: var(--font-size-xl);
}

main .main-section .sub-title {
  font-size: var(--font-size-sm);
}

ul,
ol {
  padding-inline-start: var(--spacing-sm);
  font-size: var(--font-size-sm);
  list-style-type: none;
}

ol {
  counter-reset: list-counter; /* Reset counter */
}

ul li,
ol li {
  margin-block-end: var(--spacing-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
}

ol li {
  counter-increment: list-counter;
  align-items: start;
}

ul li::before {
  content: "";
  height: 0.25em;
  width: 0.25em;
  border-radius: 100%;
  flex-shrink: 0;
}

ol li::before {
  content: counter(list-counter) ".";
  flex-shrink: 0;
  font-family: var(--outfit-bold);
  color: var(--brown-800);
}

.preparation-section ul li::before {
  background-color: var(--rose-800);
}

.main-section ul li::before {
  background-color: var(--brown-800);
}

ul li p,
ol li p {
  padding-inline: var(--spacing-md);
}

table {
  margin-block-start: var(--spacing-md);
  border-collapse: collapse;
  inline-size: 100%;
}

table tbody {
  display: flex;
  flex-direction: column;
}

table tr:not(:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

table tr {
  display: flex;
  justify-content: center;
}

table th {
  text-align: left;
}

table th,
table td {
  padding-block: var(--spacing-sm);
  font-size: var(--font-size-sm);
  flex: 1 0 auto;
  max-inline-size: 45%;
}

/* End of component class */

/* Small device responsive */
@media (max-width: 600px) {
  .container {
    max-inline-size: 600px;
  }

  .card {
    border-radius: 0px;
    margin-block: 0px;
    padding: 0px;
    max-inline-size: 100%;
  }

  header {
    margin-block-end: 0px;
  }

  header img {
    border-radius: 0px;
  }

  header .header-title {
    padding-inline: var(--spacing-xl);
  }

  main {
    padding: var(--spacing-xl);
  }
}
